.hashtags__container{
    position:sticky;
    top: 60px;
    display: flex;
    flex-direction: column;
    justify-self: center;
    background-color: white;
    margin-top: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
}
.hashtags__tags{
    padding: 10px;
}
.hashtags__tags > p:hover{
    cursor: pointer;
    background-color: #f3f2ef;
}