.post__container{
    background-color: white;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-top: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.post__details{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 10px;
    padding-left: 10px;
}
.post_name{
    padding-left: 5px;
}
.post_name > p{
    font-size: 12px;
    color: gray;
}
.post__content{
    padding-left: 10px;
    padding-bottom: 10px;
}
.post__buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 10px;
    padding-top: 10px;
}